body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_hover {
    background-image: url('../Project_files/u0_hover.png');
}

.u0_disabled {
    background-image: url('../Project_files/u0_disabled.png');
}

.u0_original {
    background-image: url('../Project_files/u0_disabled.png');
}

.u0_container {
    position:absolute;
    left:140px;
    top:64px;
    width:100px;
    height:30px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u1 {
    position:absolute;
    left:2px;
    top:8px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:140px;
    top:64px;
    width:100px;
    height:30px
}

.u2_hover {
    background-image: url('../Project_files/u0_hover.png');
}

.u2_disabled {
    background-image: url('../Project_files/u0_disabled.png');
}

.u2_original {
    background-image: url('../Project_files/u0_disabled.png');
}

.u2_container {
    position:absolute;
    left:40px;
    top:64px;
    width:100px;
    height:30px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u3 {
    position:absolute;
    left:2px;
    top:8px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:40px;
    top:64px;
    width:100px;
    height:30px
}

.u4_original {
    background-image: url('../Project_files/u4_original.png');
}

.u4_container {
    position:absolute;
    left:40px;
    top:90px;
    width:960px;
    height:470px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:476px;
}

.u5 {
    position:absolute;
    left:2px;
    top:227px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:40px;
    top:90px;
    width:960px;
    height:470px
}

.u6_original {
    background-image: url('../Project_files/u6_original.png');
}

.u6_container {
    position:absolute;
    left:240px;
    top:60px;
    width:100px;
    height:30px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u7 {
    position:absolute;
    left:2px;
    top:7px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:240px;
    top:60px;
    width:100px;
    height:30px
}

.u8_hover {
    background-image: url('../Project_files/u8_hover.png');
}

.u8_disabled {
    background-image: url('../Project_files/u8_disabled.png');
}

.u8_original {
    background-image: url('../Project_files/u8_original.png');
}

.u8_container {
    position:absolute;
    left:963px;
    top:60px;
    width:25px;
    height:25px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:31px;
}

.u9 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:963px;
    top:60px;
    width:25px;
    height:25px
}

.u10 {
    position:absolute;
    left:41px;
    top:5px;
    width:180px;
    height:44px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:210px;
    top:18px;
    width:380px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u12_original {
    background-image: url('../Project_files/u12_original.png');
}

.u12_container {
    position:absolute;
    left:910px;
    top:14px;
    width:30px;
    height:30px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u13 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:910px;
    top:14px;
    width:30px;
    height:30px
}

.u14 {
    position:absolute;
    left:950px;
    top:23px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:297px;
    top:107px;
    width:22px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:939px;
    top:107px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:598px;
    top:107px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_line {
    background-image: url('../Project_files/u18_line.png');
}

.u18_line {
    position:absolute;
    left:300px;
    top:128px;
    width:650px;
    height:3px;
}

.u18 {
    position:absolute;
    left:300px;
    top:128px;
    width:650px;
    height:3px
}

.u19 {
    position:absolute;
    left:648px;
    top:147px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:387px;
    top:179px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:528px;
    top:211px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:488px;
    top:241px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:858px;
    top:273px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_original {
    background-image: url('../Project_files/u24_original.png');
}

.u24_container {
    position:absolute;
    left:50px;
    top:171px;
    width:250px;
    height:30px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:256px;
    height:36px;
}

.u25 {
    position:absolute;
    left:2px;
    top:7px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:50px;
    top:171px;
    width:250px;
    height:30px
}

.u26 {
    position:absolute;
    left:60px;
    top:146px;
    width:210px;
    height:400px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_hover {
    background-image: url('../Project_files/u27_hover.png');
}

.u27_disabled {
    background-image: url('../Project_files/u27_disabled.png');
}

.u27_original {
    background-image: url('../Project_files/u27_original.png');
}

.u27_container {
    position:absolute;
    left:234px;
    top:176px;
    width:60px;
    height:20px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u28 {
    position:absolute;
    left:2px;
    top:4px;
    width:56px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:234px;
    top:176px;
    width:60px;
    height:20px
}

.u29_line {
    background-image: url('../Project_files/u29_line.png');
}

.u29_line {
    position:absolute;
    left:299px;
    top:129px;
    width:3px;
    height:431px;
}

.u29 {
    position:absolute;
    left:299px;
    top:129px;
    width:3px;
    height:431px
}

.u30_line {
    background-image: url('../Project_files/u30_line.png');
}

.u30_line {
    position:absolute;
    left:604px;
    top:129px;
    width:3px;
    height:431px;
}

.u30 {
    position:absolute;
    left:604px;
    top:129px;
    width:3px;
    height:431px
}

.u31_line {
    background-image: url('../Project_files/u31_line.png');
}

.u31_line {
    position:absolute;
    left:950px;
    top:129px;
    width:3px;
    height:431px;
}

.u31 {
    position:absolute;
    left:950px;
    top:129px;
    width:3px;
    height:431px
}

.u32_original {
    background-image: url('../Project_files/u32_original.png');
}

.u32_container {
    position:absolute;
    left:300px;
    top:150px;
    width:340px;
    height:10px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:346px;
    height:16px;
}

.u33 {
    position:absolute;
    left:2px;
    top:-3px;
    width:336px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:300px;
    top:150px;
    width:340px;
    height:10px
}

.u34_original {
    background-image: url('../Project_files/u34_original.png');
}

.u34_container {
    position:absolute;
    left:300px;
    top:182px;
    width:80px;
    height:10px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:16px;
}

.u35 {
    position:absolute;
    left:2px;
    top:-3px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:300px;
    top:182px;
    width:80px;
    height:10px
}

.u36_original {
    background-image: url('../Project_files/u36_original.png');
}

.u36_container {
    position:absolute;
    left:300px;
    top:214px;
    width:220px;
    height:10px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:16px;
}

.u37 {
    position:absolute;
    left:2px;
    top:-3px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:300px;
    top:214px;
    width:220px;
    height:10px
}

.u38_original {
    background-image: url('../Project_files/u38_original.png');
}

.u38_container {
    position:absolute;
    left:300px;
    top:244px;
    width:180px;
    height:10px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:16px;
}

.u39 {
    position:absolute;
    left:2px;
    top:-3px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:300px;
    top:244px;
    width:180px;
    height:10px
}

.u40_original {
    background-image: url('../Project_files/u40_original.png');
}

.u40_container {
    position:absolute;
    left:300px;
    top:276px;
    width:550px;
    height:10px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:556px;
    height:16px;
}

.u41 {
    position:absolute;
    left:2px;
    top:-3px;
    width:546px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:300px;
    top:276px;
    width:550px;
    height:10px
}

.u42_original {
    background-image: url('../Project_files/u42_original.png');
}

.u42_container {
    position:absolute;
    left:280px;
    top:230px;
    width:10px;
    height:130px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:136px;
}

.u43 {
    position:absolute;
    left:2px;
    top:57px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:280px;
    top:230px;
    width:10px;
    height:130px
}

.u44 {
    position:absolute;
    left:648px;
    top:308px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:387px;
    top:340px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:528px;
    top:372px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:488px;
    top:402px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_original {
    background-image: url('../Project_files/u32_original.png');
}

.u48_container {
    position:absolute;
    left:300px;
    top:311px;
    width:340px;
    height:10px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:346px;
    height:16px;
}

.u49 {
    position:absolute;
    left:2px;
    top:-3px;
    width:336px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:300px;
    top:311px;
    width:340px;
    height:10px
}

.u50_original {
    background-image: url('../Project_files/u34_original.png');
}

.u50_container {
    position:absolute;
    left:300px;
    top:343px;
    width:80px;
    height:10px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:16px;
}

.u51 {
    position:absolute;
    left:2px;
    top:-3px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:300px;
    top:343px;
    width:80px;
    height:10px
}

.u52_original {
    background-image: url('../Project_files/u36_original.png');
}

.u52_container {
    position:absolute;
    left:300px;
    top:375px;
    width:220px;
    height:10px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:16px;
}

.u53 {
    position:absolute;
    left:2px;
    top:-3px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:300px;
    top:375px;
    width:220px;
    height:10px
}

.u54_original {
    background-image: url('../Project_files/u38_original.png');
}

.u54_container {
    position:absolute;
    left:300px;
    top:405px;
    width:180px;
    height:10px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:16px;
}

.u55 {
    position:absolute;
    left:2px;
    top:-3px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:300px;
    top:405px;
    width:180px;
    height:10px
}

.u56_original {
    background-image: url('../Project_files/u56_original.png');
}

.u56_container {
    position:absolute;
    left:300px;
    top:437px;
    width:650px;
    height:10px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:656px;
    height:16px;
}

.u57 {
    position:absolute;
    left:2px;
    top:-3px;
    width:646px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:300px;
    top:437px;
    width:650px;
    height:10px
}

.u58_original {
    background-image: url('../Project_files/u56_original.png');
}

.u58_container {
    position:absolute;
    left:300px;
    top:468px;
    width:650px;
    height:10px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:656px;
    height:16px;
}

.u59 {
    position:absolute;
    left:2px;
    top:-3px;
    width:646px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:300px;
    top:468px;
    width:650px;
    height:10px
}

.u60_original {
    background-image: url('../Project_files/u56_original.png');
}

.u60_container {
    position:absolute;
    left:300px;
    top:500px;
    width:650px;
    height:10px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:656px;
    height:16px;
}

.u61 {
    position:absolute;
    left:2px;
    top:-3px;
    width:646px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:300px;
    top:500px;
    width:650px;
    height:10px
}

.u62_original {
    background-image: url('../Project_files/u56_original.png');
}

.u62_container {
    position:absolute;
    left:300px;
    top:530px;
    width:650px;
    height:10px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:656px;
    height:16px;
}

.u63 {
    position:absolute;
    left:2px;
    top:-3px;
    width:646px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:300px;
    top:530px;
    width:650px;
    height:10px
}

.u64 {
    position:absolute;
    left:57px;
    top:108px;
    width:220px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

