@import url(../../uploader/css/uploader.css);
@import url(../../comment/css/comment.css);
@import url(../../tagit/css/tagit.css);
@import url(../../jquery-datepicker/css/jquery-datepicker.css);
@import url(../../jquery-datepicker/css/jquery-timepicker.css);
@import url(../../jquery-slider/css/jquery-slider.css);
@import url(../../stream/css/stream.css);
@import url(../../planner/css/resizable.css);

.SpacingContainer {
    padding: 0;
}
.StreamList,
.GanttTimelineClip {
    opacity: 1 !important;
    -moz-opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

#appLoadingOverlays {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000000;
    background: #F6FBC9 url(../images/icon-app-loading.gif) no-repeat center center;
}

.GanttApp {
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 0;
}
.GanttAppWrapper {
    width: 100%;
    overflow: hidden;
    clear: both;
}

.GanttTimelineToolbar {
    width: 100%;
    float: left;
    padding: 5px 0 2px 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: #fff;
}
    .GanttTimelineToolbar .CommonButtonLnk {
        font-size: 11px;
        float: right;
        margin: 0 5px 0 0;
    }
    .GanttTimelineToolbar .CommonButtonLnkCompact {
        width: 32px;
        height: 0;
        padding: 24px 0 0;
        overflow: hidden;
        text-indent: -1000em;
        border-color: #ddd;
    }
    .GanttTimelineToolbar .GanttSettings {
        background: #f4f4f4 url(../images/icon-setting.png) no-repeat center center;
    }
    .GanttTimelineToolbar .GanttPeople,
    .GanttTimelineToolbar .GanttFilter {
        width: 36px;
        padding: 33px 0 0;
        margin: 0 0 0 5px;
        background: #f4f4f4 url(../images/icon-people.png) no-repeat center center;
    }
    .GanttTimelineToolbar .GanttPeople {
        background: #f4f4f4 url(../images/icon-people.png) no-repeat center center;
    }
    .GanttTimelineToolbar .GanttFilter {
        background: #f4f4f4 url(../images/icon-filter.png) no-repeat center center;
    }
    .GanttTimelineToolbar .GanttTag {
        background: #f4f4f4 url(../images/icon-tag.png) no-repeat center center;
    }
    .GanttTimelineToolbar .CommonButtonLnkCompact:hover {
        background-color: #efefef;
    }
    .FilterBlock {
        width: 825px;
        margin: -3px 0 0 0;
        padding: 0;
        float: left;
        position: relative;
    }
        .FilterBlock a.TextBtn {
            float: left;
            padding: 8px 13px 7px;
            font-size: 12px;
            margin: 0 0 0 5px;
            background: #f4f4f4;
            border-color: #ccc;
            color: #666;
        }
        .FilterBlock a.TextBtn:hover {
            background: #fafafa;
            border-color: #aaa;
            color: #444;
        }
        .FilterBlock a.EditSListBtn {
            color: #999;
            position: absolute;
            z-index: 10000;
            top: 9px;
            right: 12px;
            padding: 0;
            background: none;
            border: none;
            text-decoration: underline;
        }
        .FilterBlock a.EditSListBtn:hover {
            padding: 6px 10px;
            top: 4px;
            right: 2px;
            background: #6D9F43;
            color: #fff;
            text-decoration: none;
        }
        .FilterBlock .StreamListSelectionContainer.Expanded a.EditSListBtn {
            top: 11px;
        }
        .FilterBlock .StreamListSelectionContainer.Expanded a.EditSListBtn:hover {
            top: 6px;
        }
        .FilterBlock a.EditSListBtn.CommonBtnDisabled {
            display: none;
        }
        
        .StreamListSelectionWrapper {
            width: 427px;
            height: 35px;
            float: left;
            position: relative;
        }
        .StreamListSelectionContainer {
            width: 100%;
            height: 35px;
            padding: 0 1px;
            margin: 0;
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10000;
            background: #fff;
        }
        .StreamListSelectionContainer.Expanded {
            width: 427px;
            border: 2px solid #666;
            border-top: none;
            height: auto;
            padding: 1px;
            margin: -2px 0 0 -2px;
        }
            .StreamListSelectionContainer .StreamListSelectionTitle {
                display: block;
            }
            .StreamListSelectionContainer.Expanded .StreamListSelectionTitle {
                margin: 1px 0 10px;
            }
                .StreamListSelectionContainer .StreamListSelectionTitle input {
                    width: 425px;
                    font-size: 15px;
                    padding: 6px 10px 7px;
                    color: #000;
                    cursor: default;
                }
            .ListSelectionEdge {
                display: block;
                width: 20px;
                height: 32px;
                position: absolute;
                top: 1px;
                left: 359px;
                z-index: 10001;
                background: url(../images/list-selection-edge.png) no-repeat 0 0;
            }
            .StreamListSelectionContainer.Expanded .ListSelectionEdge {
                top: 3px;
            }

            .StreamListSelection {
                width: 100%;
                max-height: 300px;
                overflow: hidden;
                overflow-y: auto;
                display: none;
                position: relative;
            }
            .StreamListSelectionContainer.Expanded .StreamListSelection {
                display: block;
            }
                .StreamListSelection li {
                    float: left;
                    width: 100%;
                }
                .StreamListSelection li.Error {
                    display: none;
                }
                .StreamListSelection li.ErrorVisible {
                    display: block;
                }
                    .StreamListSelection li a {
                        display: block;
                        padding: 12px 10px;
                        font-size: 15px;
                        font-weight: bold;
                        color: #444;
                        background-color: #fff;
                    }
                    .StreamListSelection li a:hover {
                        background-color: #efefef;
                        text-decoration: none;
                    }
                    .StreamListSelection li.Active a,
                    .StreamListSelection li.Active a:hover {
                        padding: 11px 10px;
                        margin: 0;
                        overflow: hidden;
                        color: #fff;
                        background: #aaa;
                    }
                    .StreamListSelection li.Error a {
                        text-align: center;
                        font-weight: normal;
                        cursor: default;
                    }

.GanttTimelineContainer {
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    float: left;
    width: 0; /* make sure it stands in the same line with stream list */
}
.GanttTimelineCalendar {
    position: relative;
}
.GanttTimelineCalendar,
.GanttTimelineCalendar td,
.GanttTimelineCalendar th {
    border-collapse: collapse;
    border: none;
}
.GanttTimelineCalendar td {
    vertical-align: top;
}
.GanttCalendarMonthBlock {
    text-align: left;
    text-indent: 6px;
    font-size: 13px;
    text-transform: uppercase;
    background: #444;
    color: #fff;
}
.GanttCalendarDayBlock {
    font-size: 12px;
    line-height: 11px;
    text-align: center;
    cursor: default;
    background: #dfdfdf;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -ms-user-select: none;
}
.GanttCalendarDayBlock:hover {
    background: #f4f4f4;
    color: #000;
}
    .GanttCalendarMonthBlock span,
    .GanttCalendarDayBlock span {
        display: block;
        border: 1px solid #ccc;
        border-left: none;
    }
    .GanttCalendarDayBlock span {
        border-top: none;
    }
    .GanttCalendarMonthBlock span {
        height: 12px;
        padding: 8px 0 7px;
        border-color: #666;
        font-size: 16px;
        overflow: hidden;
    }
    .GanttCalendarDayBlock span {
        height: 25px;
        padding-top: 2px;
        line-height: 12px;
    }
        .GanttCalendarDayBlock span em,
        .GanttCalendarTodayBlock:hover span em {
            font-size: 10px;
            font-style: normal;
            color: #999;
        }
        .GanttCalendarTodayBlock span em {
            color: #efefef;
        }

.CalendarLimitLine {
    width: 0;
    border-left: 1px dashed #f00;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
}

.GanttCalendarTodayCol,
.GanttCalendarHolidayCol,
.GanttCalendarSelectedCol {
    position: absolute;
    z-index: 0;
    top: 0;
    border-right: 1px solid #ccc;
}
.GanttCalendarTodayBlock,
.GanttCalendarTodayCol,
.GanttCalendarTodayBlock.GanttCalendarHolidayBlock,
.GanttCalendarTodayCol.GanttCalendarHolidayCol {
    background: #d60a2c;
    color: #fff;
    z-index: 0;
}
.GanttCalendarTodayCol {
    opacity: 0.1;
    -moz-opacity: 0.1;
    filter: alpha(opacity=10);
}
.GanttCalendarHolidayBlock,
.GanttCalendarHolidayCol {
    background: #e4e4e4;
    color: #bbb;
}
.GanttCalendarHolidayCol,
.GanttCalendarSelectedCol {
    opacity: 0.6;
    -moz-opacity: 0.6;
    filter: alpha(opacity=60);
}
.GanttCalendarSelectedCol,
.GanttCalendarSelectedBlock,
.ui-selecting,
.ui-selected {
    background: #f6fbc9;
    color: #000;
}
.ui-selectable-helper {
    position: absolute;
    z-index: 1;
    border: 2px dashed #999;
}

.GanttTimelineClip {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.GanttCalendarFakeScroll {
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 57px;
    right: 0;
    z-index: 10000;
    opacity: 0.5;
    -moz-opacity: 0.5;
    filter: alpha(opacity=50);
}
.GanttCalendarFakeScroll.Hover {
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
}
.GanttTimelineList {
    width: 100%;
    overflow: hidden;
    margin: 0;
    background: #fff url(../images/grid.gif) repeat 0 0;
}
    .GanttTimelineWrapper {
        width: 100%;
        overflow: hidden;
        width: 100%;
        height: 38px;
        overflow: hidden;
        position: relative !important;
        z-index: 1;
    }
        .DrawingPending .GanttTimelineDrawingHelper,
        .GanttTimelineWrapper .DrawingInlineBar {
            background: #fff url(../images/icon-app-loading.gif) no-repeat center center;
        }
    .GanttStreamHighlight {
        background: #ccc;
    }
        .GanttMilestone {
            position: absolute;
            top: 11px;
            width: 15px;
            height: 15px;
            background: url(../images/milestone.png) no-repeat 0 0;
        }
        .GanttTimelineBar {
            position: absolute;
            top: 11px;
            height: 15px;
            background: #999;
            white-space: nowrap;
        }
        .GanttTimelineBar:hover,
        .Select,
        .Select:hover {
            background: #aaa;
        }
        .Select,
        .Select:hover {
            cursor: url(../images/cursor-close-hand.cur),auto;
        }
        .Disabled,
        .Disabled:hover {
            background: #999;
        }
        .GanttTimelineGroup,
        .GanttTimelineGroup:hover {
            background: url(../images/timeline-group-left.png) no-repeat 0 0;
        }
        .GanttMilestone:hover,
        .GanttMilestoneSelect,
        .GanttMilestoneSelect:hover {
            background-position: 0 -15px;
        }
        .GanttTimelineBar:hover,
        .GanttMilestone:hover {
            z-index: 100;
        }
        .GanttTimelineAssignee {
            position: absolute;
            top: -14px;
            left: 0;
            font-size: 12px;
        } 
        .GanttTimelineBarDecoration {
            height: 17px;
            border: 2px solid #666;
            float: left;
            width: 100%;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }
        .GanttTimelineGroup .GanttTimelineBarDecoration {
            height: 15px;
            border: none;
            background: url(../images/timeline-group-right.png) no-repeat right 0;
        }
        .GanttTimelineBarHelper {
            width: 100%;
            height: 13px;
            padding: 3px;
            border: 2px dashed #ccc;
            visibility: hidden;
            position: absolute;
            left: -5px;
            top: -3px;
            z-index: 1;
            border-radius: 6px;
            -mox-border-radius: 6px;
            -webkit-border-radius: 6px;
        }
        .GanttTimelineList li .GantTimelineBarSelected .GanttTimelineBarHelper,
        .GanttTimelineList li .ui-selecting .GanttTimelineBarHelper,
        .GanttTimelineList li .ui-selected .GanttTimelineBarHelper { /* GanttTimelineBar */
            visibility: visible;
        }

        .GanttTimelineDrawingHelper {
            width: 1px;
            height: 17px;
            border: 1px dashed #666;
            background: #ccc;
            position: absolute;
            top: 11px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }

.GanttTimelineBtn,
.GanttTimelineBarRelPoint {
    width: 15px;
    height: 0;
    padding: 15px 0 0;
    text-indent: -1000em;
    background: url(../images/icon-set-15.png) no-repeat 0 0;
    position: absolute;
    z-index: 2;
    top: 0;
    cursor: default;
    display: none;
}
.GanttTimelineBtnDisabled {
    cursor: default !important;
}
.GanttTimelineGroupActionBtn {
    width: 110px;
    padding: 0 0 0 8px;
    overflow: hidden;
    position: absolute;
    top: -11px;
    right: -118px;
    display: none;
}
.GanttTimelineGroupActionBtnCreator {
    width: 110px;
    right: -125px;
}
    .GanttTimelineGroupActionBtn .Wrapper {
        float: left;
        background: #f8f8f8;
        border-radius: 36px;
        -moz-border-radius: 36px;
        -webkit-border-radius: 36px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border: 2px solid #999;
        padding: 4px 5px 5px;
    }
        .GanttTimelineGroupActionBtn .GanttTimelineBtn {
            width: 24px;
            height: 0;
            padding: 24px 0 0;
            background-image: url(../images/icon-set-24.png);
            position: relative;
            float: left;
            cursor: pointer;
        }
    .GanttTimelineDeleteBtn {
        background-position: 0 0;
    }
    .GanttTimelineDeleteBtn:hover {
        background-position: -24px 0;
    }
    .GanttTimelineAssignBtn {
        background-position: 0 -24px;
    }
    .GanttTimelineAssignBtn:hover {
        background-position: -24px -24px;
    }
    .GanttTimelineCalendarBtn {
        background-position: 0 -48px;
    }
    .GanttTimelineCalendarBtn:hover {
        background-position: -24px -48px;
    }
    .GanttTimelineDelRelationshipBtn {
        background-position: 0 -72px;
    }
    .GanttTimelineDelRelationshipBtn:hover {
        background-position: -24px -72px;
    }
    .GanttTimelineGroup .GanttTimelineAssignBtn,
    .GanttTimelineGroup .GanttTimelineCalendarBtn,
    .GanttTimelineGroup .GanttTimelineDeleteBtn {
        display: none !important;
    }
.GanttTimelineCompletionBtn {
    background: url(../images/icon-stream-completion.png) no-repeat center -30px;
    right: -6px;
    top: -10px;
    cursor: pointer;
}
.GanttTimelineCompletionBtn:hover {
    background-position: center -15px;
}
.GanttTimelineCompletedBtn,
.GanttTimelineCompletedBtn:hover,
.GanttTimelineCompletedBtn:focus {
    background-position: center 0;
    display: block !important;
}
.GanttTimelineBarRelPoint {
    background-position: 0 -30px;
}
.GanttTimelineBarRelPoint:hover,
.GanttTimelineBarRelPointHover,
.GanttTimelineBarRelPointHint:hover,
.GanttTimelineBarRelPointSelected,
.GanttTimelineBarRelPointSelected:hover {
    background-position: -15px -30px;
}
.GanttTimelineBarRelPointLeft {
    left: -15px;
}
.GanttTimelineBarRelPointRight {
    right: -15px;
}
.GanttTimelineBar:hover .GanttTimelineBtn,
.GanttMilestone:hover .GanttTimelineBtn,
.GanttTimelineBar:hover .GanttTimelineBarRelPoint,
.GanttMilestone:hover .GanttTimelineBarRelPoint,
.GanttTimelineBar:hover .GanttTimelineGroupActionBtn,
.GanttMilestone:hover .GanttTimelineGroupActionBtn,
.GanttTimelineBarRelPointSelected,
.GanttTimelineBarRelPointSelected:hover,
.GanttTimelineBarRelPointHint {
    display: block;
}
.GanttTimelineBar:hover .GanttTimelineBtnDisabled,
.GanttMilestone:hover .GanttTimelineBtnDisabled,
.GanttTimelineBar:hover .GanttTimelineGroupActionBtnDisabled,
.GanttMilestone:hover .GanttTimelineGroupActionBtnDisabled,
.Select .GanttTimelineBtn,
.Select:hover .GanttTimelineBtn,
.Select .GanttTimelineBarRelPoint,
.Select:hover .GanttTimelineBarRelPoint,
.Select .GanttTimelineGroupActionBtn,
.Select:hover .GanttTimelineGroupActionBtn,
.GanttMilestoneSelect .GanttTimelineBarRelPoint,
.GanttMilestoneSelect:hover .GanttTimelineBarRelPoint,
.StartCreateRelationship .GanttTimelineBar:hover .GanttTimelineGroupActionBtn,
.StartCreateRelationship .GanttMilestone:hover .GanttTimelineGroupActionBtn,
.StartCreateRelationship .GanttTimelineBar:hover .GanttTimelineBtn,
.StartCreateRelationship .GanttMilestone:hover .GanttTimelineBtn {
    display: none;
}
.StartCreateRelationship .GanttTimelineBar .GanttTimelineBarRelPoint,
.StartCreateRelationship .GanttMilestone .GanttTimelineBarRelPoint,
.StartCreateRelationship .GanttTimelineBar:hover .GanttTimelineBarRelPoint,
.StartCreateRelationship .GanttMilestone:hover .GanttTimelineBarRelPoint {
    display: block;
}
.GanttTimelineRelationshipBox,
.GanttTimelineRelationshipBoxPersistent {
    position: absolute;
    z-index: 0;
}
.GanttTimelineRelationshipBox {
    z-index: 1000;
}

/* Relationship box after finishing drawing */
.GanttTimelineRelationshipBoxPersistent {
    background: #000;
}
.GanttTimelineRelationshipBoxPersistent:hover {
}
/* END. */
.GanttTimelineRelationshipBoxTL {
}
.GanttTimelineRelationshipBoxTR {
}
.GanttTimelineRelationshipBoxBL {
}
.GanttTimelineRelationshipBoxBR {
}
/* Arrow on persistent relationship box */
.GanttTimelineRelationshipBoxArrowT,
.GanttTimelineRelationshipBoxArrowB,
.GanttTimelineRelationshipBoxArrowR,
.GanttTimelineRelationshipBoxArrowL {
    position: absolute;
    z-index: 0;
    background: url(../images/relationship-arrow.gif) no-repeat 0 0;
}
.GanttTimelineRelationshipBoxArrowT,
.GanttTimelineRelationshipBoxArrowB {
    width: 9px;
    height: 5px;
}
.GanttTimelineRelationshipBoxArrowR,
.GanttTimelineRelationshipBoxArrowL {
    width: 5px;
    height: 9px;
}
.GanttTimelineRelationshipBoxArrowT {
    background-position: 0 0;
}
.GanttTimelineRelationshipBoxArrowB {
    background-position: -9px 0;
}
.GanttTimelineRelationshipBoxArrowR {
    background-position: -9px -5px;
}
.GanttTimelineRelationshipBoxArrowL {
    background-position: 0 -5px;
}
/* END. */
.GanttTimelineRelationshipBoxArrowT:hover,
.GanttTimelineRelationshipBoxArrowB:hover,
.GanttTimelineRelationshipBoxArrowR:hover,
.GanttTimelineRelationshipBoxArrowL:hover {
}

.GanttTimelineHighlight {
    position: absolute;
    top: 0;
    z-index: 2;
    background: url(../images/timeline-highlight.png) repeat 0 0;
}
.GanttTimelineOverlays {
    position: absolute;
    top: 0;
    z-index: 0;
    background: #eaedff;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    opacity: 0.3;
    -moz-opacity: 0.3;
    filter: alpha(opacity=30);
}

.RelationshipDialog {
    width: 200px;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    padding: 0;
    border: 2px solid #666;
}

.RelationshipDialog h2 {
    font-size: 17px;
    color: #666;
    padding: 8px 0 8px 10px;
    background: #fafafa;
    margin: 0;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}
.RelationshipDialog p {
    font-size: 12px;
    padding: 8px 20px;
    color: #666;
}
.RelationshipDialog ul {
    width: 100%;
    overflow: hidden;
    padding: 0 0 30px;
}
    .RelationshipDialog ul li {
        width: 100%;
        float: left;
    }
        .RelationshipDialog li a {
            display: block;
            font-size: 13px;
            color: #333;
            padding: 6px 10px 6px 35px;
            background: url(../images/icon-delete.png) no-repeat 10px 6px;
        }
        .RelationshipDialog li a:hover {
            text-decoration: none;
            color: #fff;
            background-position: 10px -78px;
            background-color: #d40505;
        }
.ListInvitedPeopleWrapperAlt01 {
    height: auto;
}
    .ListInvitedPeopleWrapperAlt01 li {
        width: auto;
        float: left;
        margin: 0 20px 0 0;
        opacity: 0.3;
        -moz-opacity: 0.3;
        filter: alpha(opacity=30);
    }
    .ListInvitedPeopleWrapperAlt01 li:hover,
    .ListInvitedPeopleWrapperAlt01 li.Checked,
    .ListInvitedPeopleWrapperAlt01 li.Checked:hover {
        opacity: 1;
        -moz-opacity: 1;
        filter: alpha(opacity=100);
    }
        .ListInvitedPeopleWrapperAlt01 .UserTaskViewCheckbox {
            float: right;
            margin: 8px 4px 0 10px;
        }

.GanttToolbarCheckbox {
    float: right;
    color: #444444;
    font-size: 16px;
    margin: 9px 10px 0 10px;
}
    .GanttToolbarCheckbox input {
        float: left;
        margin: 5px 5px 0 0;
    }
    .GanttToolbarCheckbox .ZWHelpPopup {
        margin: 3px 5px 0 0 !important;
    }